doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap")
        title #{title}
    body
        .card
            .img
                img(src='/img/prosen.jpeg')
            .infos
                .name
                    h1 #{name}                        
                    p.text
                        | Web Engineer | Customer Support | Cloud & DevOps Enthusiast.
                ul.stats
                    li
                        h3 #{visitor}
                        h4 Views
                    li
                        h3 0
                        h4 Projects
                    li
                        h3.followers 0
                        h4 Followers
                .links
                    button.view
                        a(href="https://github.com/prosenjit-barman/")  View profile

                    button(type='button' onclick='if(!event.detail || event.detail == 1){followerIncrease()}') Follow

        .footer 
            span.footer--container 
                p.footer_text 
                    Profile Views are Real. Try Refreshing Browser!😉
    
    script.
        let targetFollower = document.getElementsByClassName("followers")[0];
        let followerCount = 0;
        function followerIncrease() {
            followerCount++;
            targetFollower.innerHTML  = followerCount.toString();
            //console.log(followerCount);

            return followerCount;
        }
